<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="navbar"></div>

<script>
    $(function(){
        $("#navbar").load("navbar.html");
    });
</script>
        
    <div id="table">
        <div class="tableRow">
            <p class="collumnDate">Funddatum</p>
            <p class="collumnTitle">Titel</p>
            <p class="collumnDesc">Beschreibung</p>
        </div>
        <hr id="lineBreak">
        {#for item in items}
        <div class="tableRow">
            <p class="collumnDate">{item.getDatePretty}</p>
            <p class="collumnTitle">{item.title}</p>
            <p class="collumnDesc">{item.description}</p>
        </div>
        {/for}
    </div>

    <a href="../data/reportedItems.csv" target="_blank" id="exportButton">Export</a>   
         
</body>
</html>