<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>    
    <nav>
        <div id="logo_box">
            <img id="logo_img" src="../img/logo.png" alt="logo">
            <h1>FindersTrace</h1>
        </div>
        <a href="../overview">Start</a>
        <a href="../report">Report</a>
        <img id="usericon" src="../img/defaultuser.svg" alt="usericon">
    </nav>
        
    <div id="table">
        <div class="tableRow">
            <p class="collumnDate">Funddatum</p>
            <p class="collumnTitle">Titel</p>
            <p class="collumnDesc">Beschreibung</p>
        </div>
        <hr id="lineBreak">
        {#for item in items}
        <div class="tableRow">
            <p class="collumnDate">{item.getDatePretty}</p>
            <p class="collumnTitle">{item.title}</p>
            <p class="collumnDesc">{item.description}</p>
        </div>
        {/for}
    </div>

    <a href="../data/reportedItems.csv" target="_blank" id="exportButton">Export</a>   
         
</body>
</html>