<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="navbar"></div>

<script>
    $(function(){
        $("#navbar").load("navbar.html");
    });
</script>
    <div id="content">
        {#for item in filteredItems}
            <div class="items" onclick="window.location.href='../details?index={item.id}'">
                <div class="itemImage">
                    <img src="{item.getImgPath()}" alt="image">
                </div>
                <div class="itemFooter">
                    <div class="itemInformation">
                        <h3>{item.title}</h3>
                        <h5>{item.currentStatus}</h5>
                        <h5>{item.datePretty}</h5>
                    </div>
                    <div class="userInformation">
                        {#if  && item.getOwnerId() > -1}
                        <img src="../img/defaultuser.svg" alt="">
                        {/if}
                    </div>
                </div>
            </div>
        {/for}
        {#if filteredItems.isEmpty()}
            <h1>No Items found</h1>
        {/if}
    </div>
    <select id="filter" onchange="location.href = '?filter=' + this.value">
        <option value="">Filter</option>
        <option value="LOST"{#if filter == 'LOST'} selected{/if}>Lost</option>
        <option value="FOUND"{#if filter == 'FOUND'} selected{/if}>Found</option>
    </select>
    <a href="#" id="help">?</a>
</body>
</html>