<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav>
        <div id="logo">
            <img src="../img/logo.png" alt="logo">
            <h1>FindersTrace</h1>
        </div>
        <a href="../overview">Start</a>
        <a href="../report">Report</a>
        <img id="usericon" src="../img/defaultuser.svg" alt="usericon">
    </nav>
    <div id="edit_body">
        {#if item}
            <div class="edit_image_box">
                <img src="{templateMethods.getValidImgPath(item)}" alt="image">
            </div>
            <form class="IIonformaion" style="transform: scale(1.4);">
                <h1 id="title_edit">{item.title}</h3>
                <h5>{prefix}datum: {item.datePretty}</h5>
                <h5>Beschreibung: {item.description}</h5>
                <img id="usericon_edit" src="../img/defaultuser.svg" alt="usericon">
            </form>
            <div class="IIonformaion" style="transform: scale(1.4);">
                <h1 id="title_edit">{item.title}</h3>
                <h5>{prefix}datum: {item.datePretty}</h5>
                <h5>Beschreibung: {item.description}</h5>
                <img id="usericon_edit" src="../img/defaultuser.svg" alt="usericon">
            </div>
        {#else}
            <h1>Item not found</h1>
        {/if}
    </div>
</body>
</html>