<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="navbar"></div>

<script>
    $(function(){
        $("#navbar").load("navbar.html");
    });
</script>

    <div id="details_body">
        {#if item}
            <div class="details_image_box_edit">
                <img src="{{item.getImgPath()}}" alt="image">
                <input class="edit_input" id="details_image_box_input" value="{item.getImgPath()}"></input>
            </div>
            <div id="details_text_box">
                <div>
                    <input class="edit_input" id="title_edit" value="{item.getTitle()}"></input>
                </div>
                <div id="details_text_inner_box">
                    <p><span>{prefix}datum:</span> {item.datePretty}</p>
                    <textarea class="edit_input" id="details_text_inner_box_textarea">{item.getDescription()}</textarea>
                </div>
                <div id="usericon_details_box">
                    <img id="usericon_details" src="../img/defaultuser.svg" alt="usericon">
                    <img id="editicon_details" src="../img/checkmark.png" alt="edit" onclick="edit()">
                </div>
                <a id="back_edit" href="../details?index={item.getId()}">Back</a>
            </div>
        {#else}
            <h1>Item not found</h1>
        {/if}
    </div>
    <script>
        function edit() {
            window.location.href="../edit?index={item.getId()}"+
            "&title="+document.getElementById('title_edit').value+""+
            "&desc="+document.getElementById("details_text_inner_box_textarea").value+""+
            "&imgPath="+document.getElementById('details_image_box_input').value+""+
            "&status={item.getCurrentStatus()}";
        }
    </script>
</body>
</html>