<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <body id="login_body">
    
    
    <div id="left_box">
    <h1 id="signInText">Sign Up!</h1>

<form action="/registerUser" method="post" id="loginForm">
    <label for="username" id="usernamelbl">Username:</label>
    <input type="text" name="username" id="username" class="username" required placeholder="Username">

    <label for="firstname" id="firstnamelbl">Firstname:</label> 
    <input type="text" name="firstname" id="username" class="username"  required placeholder="Firstname">

    <label for="lastname" id="lastnamelbl">Lastname:</label>
    <input type="text" name="lastname" id="username" class="username"  required placeholder="Lastname">

    <input type="submit" value="Register" id="loginSubmitButton">
</form>
</div>

<div id="right_box">
    <h1 id="signupText">Already signed up?</h1>
    <p id="signupP">Sign in to report lost and found <br> items. Find them within your <br> Organisation.</p>
    <a id="register_button" href="../login">Sign in</a>
</div>

</body>
</html>