<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

<img src="./img/logo.png" alt="" id="welcomeLogo">

<form action="/registerUser" method="post" id="registerForm">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="firstname">Firstname:</label>
    <input type="text" name="firstname" id="firstname" required>
    <label for="lastname">Lastname:</label>
    <input type="text" name="lastname" id="lastname" required>
    <input type="submit" value="register">
</form>




</body>
</html>