<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <body id="login_body">
    
    
    <div id="left_box">
    <h1>Sign Up!</h1>

<form action="/registerUser" method="post" id="loginForm">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="firstname">Firstname:</label>
    <input type="text" name="firstname" id="firstname" required>
    <label for="lastname">Lastname:</label>
    <input type="text" name="lastname" id="lastname" required>
    <input type="submit" value="register">
</form>
</div>

<div id="right_box">
    <h1>Already Signed up?</h1>
    <p>Sign in to report lost and found items. Find them within your Organisation.</p>
    <a id="register_button" href="../login/index.html">Sign in</a>
</div>

</body>
</html>