<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body id="login_body">


<div id="left_box">
<h1 id="signInText">Sign in</h1>
<form action="/loginUser" method="post" id="loginForm">
    <label for="username" id="userNameLogin">Your Username:</label>
    <input placeholder="Username"  name="username" id="username" required>
    <p id="readyforlandf">Ready for lost and found?</p>
    <input id="loginSubmitButton" type="submit" value="Login">
    
</form>
</div>
<div id="right_box">
    <h1 id="signupText">Wanna Sign up?</h1>
    
    <p id="signupP">Sign up to report lost and found <br> items. Find them within your <br> Organisation.</p>
    <a id="register_button" href="../register">Sign up</a>
</div>
</body>
</html>