<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindersTrace</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body id="login_body">


<div id="left_box">
<h1>Sign In!</h1>
<form action="/loginUser" method="post" id="loginForm">
    <label for="username">Your Username:</label>
    <input  name="username" id="username" required>
    <input id="submit_button" type="submit" value="Login">
    
</form>
</div>
<div id="right_box">
    <h1>Wanna Sign up?</h1>
    
    <p>Sign up to report lost and found items. <br>Find them within your Organisation.</p>
    <a id="register_button" href="../register">Sign Up?</a>
</div>
</body>
</html>