:root {
    --main: #684875;
    --secondary: #FFFEF0;
    --teriary: #461C58;
    --teriary-hover: #a342cc;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--main);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--teriary);
  }


body {
    background:var(--main);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    font-style: italic;
}

#welcomeLogo {
    width: 35%;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#welcomeDIv {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

#title {
    text-align: center;
    color: var(--secondary);
    font-size: 8vw;
    font-weight: 900;
    margin-bottom: -.7rem;
    z-index: 1;
}

#◀ {
    text-align: center;
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--teriary);
    font-weight: 900;
    padding: 0.5vw 4.5vw;
    border-radius: 5px;
    font-size: 1.4vw;
    transition: all 0.2s ease-in-out;
}

#◀:hover {
    background-color: var(--teriary);
    color: var(--secondary);
}

#logo {
    width: 5%;
    height: auto;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: .5% .5% 0 .1%;
    border: var(--teriary) solid 1px;
}

nav {
    background-color: var(--secondary);
    width: 70%;
    height: 9.15vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--teriary) solid 1px;
}

.sites {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sites>div>a {
    text-decoration: none;
    color: var(--teriary);
    font-size: 1.7rem;
    font-weight: 900;
    transition: color 0.3s ease;
    text-align: center;
}

#mainNav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    position: sticky;
    top: 0;
    margin-top: 5vh;
    margin-bottom: -10vh;
}

#filter {
    background-color: var(--secondary);
    width: 10%;
    height: 9.15vh;
    border-radius: 5px;
    color: var(--teriary);
    font-size: 1.7rem;
    font-weight: 900;
    text-align: center;
    appearance: none;
    border: var(--teriary) solid 1px;
}

#filter>option {
    background-color: var(--secondary);
    color: var(--teriary);
    font-size: 1.7rem;
    font-weight: 900;
    text-align: center;
}

#📦 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 20vh;
}

.items {
    background-color: var(--secondary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 25%;
    height: 60vh;
    margin-bottom: 5%;
    transition: all 0.2s ease-in-out;
}

.items:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.IImage {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.IImage>img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.OInformation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    color: var(--teriary);
}

.UInformation {
    width: 60%;
}

.IInformation {
    width: 50%;
}

.linkDiv {
    width: 33.3%;
    display: block;
    text-align: center;
}

.linkDiv p {
    font-weight: 400;
    font-size: 1.3rem;
}


#welcomeLink:hover {
    color: var(--teriary-hover);
}

#overviewLink:hover {
    color: var(--teriary-hover);
}

#ReportItemButton {
    background-color: var(--secondary);
    width: 9%;
    padding: 0.7%;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    border: var(--teriary) solid 1px;
}

#ReportItemButton>span {
    font-weight: 900;
    font-size: 1.7rem;
}

#ReportItemButton:hover {
    color: white;
    background-color: var(--teriary);
}



/*details*/
#details_body {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 65vh;
    margin-left: 10%;
    margin-top: 20vh;
    background-color: white;
}

.details_image {
    height: 70%;
    display: flex;
    justify-content: center;
}

.details_image>img {
    width: auto;
    height: 100%;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 75vh;
    margin-left: 25vw;
    background-color: var(--secondary);
    position: absolute;
    border-radius: 5px;
    bottom: 5vh;
    padding: 5px;
}

input, textarea {
    text-align: center;
    width: 80%;
    min-height: 10%;
    background-color: #D9D9D9;
    border: none;
    font-weight: 800;
}

form>h1, label, input, #LorF>input {
    color: var(--teriary);
}

form>h1 {
    font-size: 2rem;
    margin-bottom: -6%;
}

label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.inputs>input, .inputs>textarea {
    min-height: 100%;
}

#RImage {
    min-height: 50%;
}

#LorF {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#LorF>input {
    font-size: 1.5rem;
    font-weight: 900;
}

#RSubmit {
    width: 40%;
    transition: all 0.2s ease-in-out;
}

#RSubmit:hover {
    cursor: pointer;
    background-color: var(--teriary);
    color: var(--secondary);
}