* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainWhite: #FDFDF7;
    --lightestPurple: #ECDCEF;
    --lighterPurple: #8D619E;
    --darkerPurple: #442F4C;
    --middlePurple: #623F71;
    --lightgrey: rgba(232, 228, 228, 0.879);
    --pink: #ECDCEF;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: var(--mainWhite);
}
  
::-webkit-scrollbar-thumb {
    background: var(--lighterPurple);
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--darkerPurple);
}

body {
    background:var(--mainWhite);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}

#welcomeLogo {
    width: 40%;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#welcomeDIv {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

#title {
    text-align: center;
    color: var(--lighterPurple);
    font-size: 8vw;
    font-weight: 900;
    z-index: 1;
    font-style: italic;
}

#◀ {
    text-align: center;
    text-decoration: none;
    background-color: var(--darkerPurple);
    color: var(--mainWhite);
    font-weight: 900;
    padding: 0.5vw 4.5vw;
    border-radius: 5px;
    font-size: 1.4vw;
    transition: all 0.2s ease-in-out;
}

#◀:hover {
    background-color: var(--lighterPurple);
}

#welcomeFooter {
    text-align: center;
    position: fixed;
    bottom: 5vh;
    width: 100vw;
    font-size: 2rem;
    color: var(--darkerPurple);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: var(--mainWhite);
    border-bottom: black solid 2px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

#logo_box {
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

#logo_img {
    width: 8vw;
    height: auto;
}

#logo_box>h1 {
    margin-left: 15%;
    font-size: 300%;
    color: var(--lighterPurple);
    font-weight: 900;
    font-style: italic;
}

nav>a {
    text-decoration: none;
    color: black;
    font-size: 250%;
    margin-right: 2%;
    margin-left: 15%;
    margin-right: -5%;
    font-weight: 600;
}

#usericon {
    width: 7%;
    height: auto;
    cursor: pointer;
    margin-right: 2%;
}

#filter {
    position: fixed;
    bottom: 5vh;
    left: 3vw;
    appearance: none;
    width: 7%;
    height: 5%;
    border-radius: 5px;
    border: none;
    background-color: var(--pink);
    text-align: center;
    font-size: 100%;
    font-weight: 900;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 10px 0 rgb(84, 84, 84);
}

#filter:hover {
    cursor: pointer;
    background-color: var(--lighterPurple);
    color: var(--mainWhite);
}

#help {
    background-color: var(--darkerPurple);
    color: var(--mainWhite);
    border-radius: 50%;
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    width: 2vw;
    height: 2vw;
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    font-weight: 700;
    box-shadow: 0 5px 10px 0 rgb(84, 84, 84);
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 20vh;
}

.items {
    background-color: var(--secondary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 33%;
    height: 60vh;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1400px) {
    .items {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .items {
        width: 70%;
    }
}

.items:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.itemImage {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemImage>img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.itemFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    color: var(--mainWhite);
    background-color: var(--darkerPurple);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.userInformation {
    width: 50%;
}

.userInformation>img {
    position: relative;
    top: 30%;
    right: -60%;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    margin-left: 5%;
    background-color: var(--pink);
    border-radius: 50%;
}

.itemInformation {
    width: 50%;
    padding: 2%;
}

.itemInformation>h3, .itemInformation>h5 {
    margin: 0;
    padding: 0;
}

.linkDiv {
    width: 33.3%;
    display: block;
    text-align: center;
}

.linkDiv p {
    font-weight: 400;
    font-size: 1.3rem;
}


#welcomeLink:hover {
    color: var(--teriary-hover);
}

#overviewLink:hover {
    color: var(--teriary-hover);
}

#ReportItemButton {
    background-color: var(--secondary);
    width: 9%;
    padding: 0.7%;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    border: var(--teriary) solid 1px;
}

#ReportItemButton>span {
    font-weight: 900;
    font-size: 1.7rem;
}

#ReportItemButton:hover {
    color: white;
    background-color: var(--teriary);
}

#reportMainContent {
    display: flex;
    flex-direction: row;
    background-color: var(--middlePurple);
    width: 80%;
    height: 80%;
    margin: 10vh;
    border-radius: 9px;
}

#reportInfoSide {
    width: 40%;
    height: 80vh;
    padding: 2%;
    background-color: var(--lightestPurple);
    border-radius: 100px 8px 8px 100px;
}

#reportInfoSide>h2 {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 20%;
    font-size: 2.3em;
    font-weight: 800;
    font-style: italic;
    color: var(--darkerPurple);
}

#reportInfoSide>p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--darkerPurple);
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
}

#reportForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 80vh;
    border-radius: 8px 0px 0px 8px;
    background-color: var(--middlePurple);
    padding: 5px;
}

#reportForm p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--lightgrey);
    margin-bottom: -2%;
    text-align: center;
}

#reportBackButton {
    background-color: var(--middlePurple);
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 1.5%;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(0px 4px 4px #00000051);
}

#reportBackButton:hover {
    background-color: var(--mainWhite);
    color: var(--middlePurple);
    cursor: pointer;
}

#backButtonA {
    text-decoration: none;
}

#RDescription {
    min-width: 80%;
    min-height: 15vh;
    max-width: 80%;
    max-height: 35vh;
}


/* Report Radio Button Style */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 0;
    margin-bottom: 3vh;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: black;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 4vh;
    width: 15vh;
    padding: 1vh;
    font-weight: 500;
    font-size: 1rem;
    font-style: italic;     
    text-align: center;
    background-color: var(--mainWhite);
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #52c45b;
  }

  #foundCheckmark {
    margin-left: -20vh;
  }

  #lostCheckmark {
    margin-left: 5vh;
  }


/* Radio Button End */

/*details*/

#reportBody {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    filter: drop-shadow(2px 2px 10px #00000079);
}

#details_body {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    flex-wrap: wrap;
    width: 70%;
    height: 65vh;
    margin-left: 15%;
    margin-top: 20vh;
    background-color: #623F71;
    color: white;
}

#usericon_details_box {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#usericon_details {
    width: 10vh;
    height: 10vh;
    border-radius: 60%;
    margin-left: 10%;
    background-color: white;
}

#editicon_details {
    width: 10vh;
    height: 10vh;
    border-radius: 60%;
    margin-left: 10%;
    background-color: white;
}

.details_image_box, .details_image_box_edit {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.details_image_box_edit {
    flex-direction: column;
}

.details_image_box>img {
    border-radius: 10px;
}

#details_text_box {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#details_text_inner_box {
    width: 100%;
    justify-content: start;
}

#details_text_inner_box>p, #details_text_inner_box>textarea {
    text-align: start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 80%;
    word-break: break-word;
}

#details_text_inner_box>textarea {
    max-width: 80%;
    min-width: 80%;
    max-width: 200px;
}

#details_text_inner_box>p>span {
    font-weight: bold;
}

.details_image_box>img {
    width: 100%;
    height: auto;
}

#back_edit {
    text-decoration: none;
    color: white;
}


.inputs>input, .inputs>textarea, #RSubmit {
    text-align: left;
    padding: 2%;
    width: 80%;
    min-height: 10%;
    background-color: var(--mainWhite);
    color: black;
    border: none;
    font-weight: 700;
    border-radius: 6px;
}

form>h1 {
    font-size: 2rem;
    margin-bottom: -1.5%;
    margin-top: 1.5%;
    text-align: center;
    color: var(--mainWhite);
    font-style: italic;
}

label {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 900;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.inputs>input, .inputs>textarea {
    min-height: 100%;
}

#RImage {
    min-height: 50%;
}

#LorF {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--mainWhite);
}

#LorF>input {
    font-size: 1.5rem;
    font-weight: 500;
}

#RSubmit {
    justify-content: center;
    width: 40%;
    border: var(--mainWhite) 2px solid;
    text-align: center;
    transition: all 0.2s ease-in-out;
    background-color: var(--middlePurple);
    color: var(--mainWhite);
}

#RSubmit:hover {
    cursor: pointer;
    background-color: var(--mainWhite);
    color: var(--middlePurple);
}

/***EDIT***/
.editInputDiv {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.editItemInformation {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 10vh;

    width: 40%;
}


#edit_body {
    /*copied from details_body*/
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start;
    flex-wrap: wrap;
    width: 70%;
    height: 65vh;
    margin-left: 15%;
    margin-top: 20vh;
    background-color: #623F71;
    color: white;

    justify-content:flex-start;
    flex-direction: row;
}

.edit_input{
    border-radius: 5px;
    border: var(--darkerPurple) solid 2px;
    background-color: var(--lightestPurple);
    padding: 5px;
}


/***TABLE***/
#table{
    margin: 10% 10% 2% 10%;
    border-radius: 10px;
    background-color: var(--middlePurple);
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    font-size: 80%;
}
.tableRow{
    display: flex;
    flex-direction: row;
}
.tableRow p{
    background-color: var(--mainWhite);
    padding: 0.5vw;
    border-radius: 5px;
    margin: 0.3vw;
    margin-right: 1vw;
    margin-left: 1vw;
}
.collumnDate{
    width: 6vw;
}
.collumnTitle{
    width: 10vw;
}
.collumnDesc{
    width: 60vw;
}
#lineBreak{
    height: 5px;
    background-color: var(--mainWhite);
    margin: 1vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}

#exportButton {
    background-color: var(--lighterPurple);
    color: white;
    padding: 1%;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10%;
}

#report_message {
    color: black;
}

#report_back {
    text-decoration: none;
    color: black;
}

/* Profile Page */

#profileBody {
    background-color: var(--mainWhite);
    color: var(--lighterPurple);
}

#profileH1, #profileH2 {
    text-align: left;
    font-weight: 900;
    font-style: italic;
    margin-top: 20vh;
    margin-left: 10vh;
    margin-bottom: -25vh;
}

#profileH1 {
    font-size: 3rem;
}

#profileH2 {
    margin-top: 23vh;
    font-size: 1.5rem;
}

#noItemsUser {
    margin-top: 10vh;
}